<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/tasks}">Tasks</a></li>
                        <li><a href="#" th:href="@{/tasks/finished}">Tasks Finished</a></li>
                        <li><a href="#" th:href="@{/task/new}">Create Task</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Demo Tasks</h2>

                    
                </div>
            </div>
            <div class="row text-center">                
            </div>
        </div>
    </div>
</div>
</body>
</html>